body,
html {
    height: 100%;


}

.parallax {
    /* The image used */
    background-image: url('./image/secondimg.png');

    /* Full height */
    height: 650px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-main {
    height: 650px;
    background-image: url('./image/main2.jpg');
}

.parallax-ourwork {
    background-image: url('./image/secondimg.png');
    height: 350px;
}

.para-text {

    color: black;

    font-size: 5px;

}

.bg-navcolor {
    background-color: #4CAF50;
}

.middle-section {
    background-color: #f1f9f2;
}

.no-recycle {
    font-size: 35px;
    font-weight: bold;

}

.bg-no-recycle {
    background-color: #00796B;
    height: 250px;
    /* background-image: url('./image/Recycling images/bg-leave.png');*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-text {
    color: green;
}

.p-text {
    font-size: 20px;
}

i {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}